extends ./layout.pug
block pre-include
  - var menu = 'article'
  - var childMenu = 'article'
  title Viết bài mới

block post-include
  script(src=staticURI() + '/js/admin/article.js')

block content
  section.content-header.clearfix
    ol.breadcrumb.col-md-8.col-sm-7.hidden-xs
      li
        a Bài viết
      li
        a Viết bài mới

    ol.button-right.col-md-4.col-sm-5.col-xs-12
      span.middle-inline-block
      li
        a.btn.btn-admin.btn-create
          i.fa.fa-floppy-o
          i.fa.fa-circle-o-notch.fa-spin
          | Lưu lại
  section.content.article
    .box.box-info
      .form-horizontal.form-article
        .box-body
          .form-group
            label.col-sm-2.control-label Tiêu đề
              strong.required  *
            .col-sm-10
              input.form-control(name="title", placeholder="Tiêu đề")
          .form-group
            label.col-sm-2.control-label Blog
            .col-sm-10.blog-detail
              each blog in blogs
                label.checkbox-inline
                  input(type="checkbox" value=blog.id)
                  =blog.title
          .form-group
            label.col-sm-2.control-label Hình đại diện
            form.col-sm-10
              img(src=staticURI() + "/img/default_image.png")
              input.feature-image(type="file" name="upload[]").form-control
              input(type="hidden" name="image")
          .form-group
            label.col-sm-2.control-label Mô tả
              strong.required  *
            .col-sm-10
              textarea.form-control(name="description")
          .form-group
            label.col-sm-2.control-label Nội dung
              strong.required  *
            .col-sm-10
              textarea.form-control#article_content
          .form-group
            label.col-sm-2.control-label Hiển thị
            .col-sm-10
              select.form-control(name="display")
                option(value="1") Có
                option(value="0") Không
    .box
      .form-horizontal
        .box-body
          .form-group
            label.col-sm-2.control-label
              h4 Tối ưu SEO
          .form-group
            label.col-sm-2.control-label Tiêu đề trang
              p (Tối đa 70 ký tự)
            .col-sm-10
              input.form-control(name="meta_title", placeholder="Iphone X chính hãng")
          .form-group
            label.col-sm-2.control-label Mô tả trang
              p (Tối đa 160 ký tự)
            .col-sm-10
              textarea.form-control(name="meta_description", placeholder="Laptop 2nd nhập US, Chuyên Laptop văn phòng và Đồ họa")
          .form-group
            label.col-sm-2.control-label Meta robots
            .col-sm-10
              select.form-control(name="meta_robots")
                option(value="index, follow") Index, Follow
                option(value="noindex, follow") No Index, Follow
                option(value="index, nofollow") Index, No Follow
                option(value="noindex, nofollow") No Index, No Follow
