extends ./layout.pug

block pre-include
  title Nhóm sản phẩm
  - var menu = 'product'
  - var childMenu = 'collection'
  
block post-include
  script(src=staticURI() + '/js/admin/collection.js')

block content
  section.content-header.clearfix
    ol.breadcrumb.col-md-8.col-sm-7.hidden-xs
      li
        a Sản phẩm
      li
        a(href='/admin/collection') Nhóm sản phẩm
    ol.button-right.col-md-4.col-sm-5.col-xs-12
      li
        a.btn.btn-admin(href="/admin/collection/create") Tạo nhóm sản phẩm
  section.content
    .box
      .box-body
        .box-tree
          mixin folderTree(arrs)
            each item in arrs
              ul
                li=item.title
                  if countArr(item.children)
                    - var child = getCollectionChild(item.id);
                    +folderTree(child)
          +folderTree(collections)
