extends ./layout.pug

block pre-include
	- var menu = 'setting';
	- var childMenu = 'custom-css';
	title Custom CSS

block content
	section.content-header.clearfix
		ol.breadcrumb.col-sm-8.hidden-xs
			li
				a Thiết lập chung
			li
				a Custom CSS

		ol.button-right.col-sm-4.col.xs-12
			li
				a.btn.btn-admin.btn-update-css
					i.fa.fa-floppy-o
					i.fa.fa-circle-o-notch.fa-spin
					| Cập nhật

	section.content
		.box.box-info
			.form-horizontal.form-information
				.box-body
					.form-group
						p.col-sm-12 Nhập CSS vào ô bên dưới:
						.col-sm-12
							textarea.form-control(rows="23", name="custom_css")=custom_css
