extends ./layout.pug

block pre-include
  - var menu = 'customer';
  - var childMenu = 'customer';
  title Danh sách khách hàng
block post-include
  script.
    initDataTable('table');

block content
  section.content-header.clearfix
    ol.breadcrumb.col-md-8.col-sm-7.hidden-xs
      li
        a Danh sách khách hàng
    ol.button-right.col-md-4.col-sm-5.col-xs-12
      span.middle-inline-block
      li
        a.btn.btn-review(href="/admin/customer/export")
          i.fa.fa-download
          b Export
  section.content
    .box
      .box-body
        table.table.table-bordered.table-striped.display.nowrap(cellspacing="0" width="100%")
          thead
            tr
              th Họ tên
              th Số điện thoại
              th Email
              th Tỉnh thành
          tbody
            each item in customers
              tr
                td
                  a(href="/admin/customer/" + item.id + "/order" target="_blank")=item.name
                td=item.phone
                td=item.email
                td=item.region
