extends ./layout.pug

block pre-include
	- var menu = 'setting';
	- var childMenu = 'information';
	title Thông tin shop

block post-include
	script(src='/js/admin/information.js')

block content
	section.content-header.clearfix
		ol.breadcrumb.col-sm-8.hidden-xs
			li
				a Thiết lập chung
			li
				a Thông tin shop

		ol.button-right.col-sm-4.col.xs-12
			li
				a.btn.btn-admin.btn-update-information
					i.fa.fa-floppy-o
					img(src="/images/admin-loading.gif")
					| Cập nhật

	section.content
		.box.box-info
			.form-horizontal.form-information
				.box-body
					.form-group
						label.col-sm-2.control-label Phí vận chuyển
						.col-sm-10
							input.form-control(name="shipping_price" placeholder="30000" value=shipping_price.value)
					.form-group
						label.col-sm-2.control-label Google Analytics
						.col-sm-10
							<textarea rows=10 class="form-control" name="google-analytics">#{google_analytics['value']}</textarea>
					.form-group
						label.col-sm-2.control-label Google adwords
						.col-sm-10
							<textarea rows=10 class="form-control" name="google-adwords">#{google_adwords['value']}</textarea>
					.form-group
						label.col-sm-2.control-label Facebook pixels
						.col-sm-10
							<textarea rows=10 class="form-control" name="facebook-pixels">#{facebook_pixels['value']}</textarea>
