extends ./layout.pug
block pre-include
  - var menu = 'setting'
  - var childMenu = 'livechat'
  title LiveChat

block post-include
  script(src=staticURI() + '/js/admin/setting.js')

block content
  section.content-header.clearfix
    ol.breadcrumb.col-sm-8.hidden-xs
      li
        a Thiết lập chung
      li
        a LiveChat
        
    ol.button-right.col-sm-4.col.xs-12
      li
        a.btn.btn-admin.btn-update-setting-livechat
          i.fa.fa-floppy-o
          i.fa.fa-circle-o-notch.fa-spin
          | Lưu lại
  section.content.article
    .box.box-info
      .form-horizontal.form-shop-info
        .box-body
          .form-group
            label.col-sm-2.control-label Script
            .col-sm-10
              textarea.form-control(name="livechat", rows="10")=livechat
