extends ./layout.pug

block pre-include
  title Tạo menu
  - var menu = 'setting';
  - var childMenu = 'subMenu';
block post-include
  script(src=staticURI() + '/js/admin/menu.js')
  
block content
  section.content-header.clearfix
    ol.breadcrumb.col-sm-6.hidden-xs
      li
        a Menu
      li
        a Tạo menu chính
    ol.button-right.col-sm-6.col-xs-12
      li
        a.btn.btn-admin.btn-create-menu
          i.fa.fa-floppy-o
          i.fa.fa-circle-o-notch.fa-spin
          | Lưu lại

  section.content
    .box.box-info
      .form-horizontal.form-product
        .box-body
          .form-group
            label.col-sm-2.control-label Tiêu đề
              strong.required  *
            .col-sm-10
              input.form-control(name="title" placeholder="Balo")
          .form-group
            label.col-sm-2.control-label Link
              strong.required  *
            .col-sm-10.link
              .col-sm-6.key.pd-left-0
                select.form-control(name="link_type")
                  option(value="collection" selected) Nhóm sản phẩm
                  option(value="article") Bài viết
                  option(value="custom") Địa chỉ web
              .col-sm-6.value
                select.form-control(name="link")
                  each collection in list_collection
                    option(value=collection.link)=collection.breadcrumb
                input.hidden.form-control(name="link" placeholder="https://mia.vn")
          .form-group
            label.col-sm-2.control-label Menu con
            .col-sm-10
              textarea.form-control#submenu
