extends ./layout.pug

block pre-include
  title Tạo sản phẩm
  - var menu = 'product';
  - var childMenu = 'new';
block post-include
  script(src= staticURI() + '/js/admin/product.js')
  
block content
  section.content-header.clearfix
    ol.breadcrumb.col-sm-6
      li
        a Sản phẩm
      li
        a(href='/admin/product') Danh sách sản phẩm
      li
        a Tạo sản phẩm
    ol.button-right.col-sm-6
      li
        a.btn.btn-admin.btn-create-product
          i.fa.fa-floppy-o
          i.fa.fa-circle-o-notch.fa-spin
          | Lưu

  section.content
    .box.box-info
      .form-horizontal.form-product
        .box-body
          .form-group
            label.col-sm-2.control-label Tên sản phẩm
              strong.required  *
            .col-sm-10
              input.form-control(name="title")
          .form-group
            label.col-sm-2.control-label Nhóm sản phẩm
            .col-sm-10
              select.form-control.chosen-select-collection(multiple name="collection" data-placeholder="Chọn nhóm sản phẩm...")
                each collection in list_collection
                  option(value=collection.id)=collection.breadcrumb
                script.
                  var collections = $(".chosen-select-collection").chosen();
          .form-group
            label.col-sm-2.control-label Mô tả
            .col-sm-10
              textarea.form-control#product-description
          .form-group
            label.col-sm-2.control-label Phiên bản
              strong.required  *
            .col-sm-10
              .variant-title.row
                .col-sm-3 Tên
                .col-sm-3 Giá bán
                .col-sm-3 Giá so sánh
                .col-sm-3 Tồn kho
              .list-variant.row.clearfix.variant-bonus.list-append
                .variant-item.clearfix
                  .col-sm-3
                    input.form-control(name="variant-name" placeholder="Tên")
                  .col-sm-3
                    input.form-control(name="variant-price", placeholder="Giá")
                  .col-sm-3
                    input.form-control(name="variant-price-compare", placeholder="Giá so sánh")
                  .col-sm-3
                    input.form-control(type="number" name="variant-inventory", value=1)
                  .col-sm-12.variant-images
                    label Hình ảnh
                      img.hidden.no-border.loading(src=staticURI() + "/img/loading.gif" style="margin-left: 5px;")
                      form(enctype="multipart/form-data").hidden
                        input#upload-image-variant-1.upload-list-image(type="file" name="upload[]" multiple="multiple")
                    .col-sm-12.list-image
                      .col-xs-2.add-image
                        label(for="upload-image-variant-1")
              .btn-add-variant
                a Thêm phiên bản
          .form-group
            label.col-sm-2.control-label Meta description
            .col-sm-10
              textarea.form-control(name="meta-description", value='', data-title='', rows="5")
          .form-group
            label.col-sm-2.control-label Meta robots
            .col-sm-10
              select.form-control(name="meta-robots" data-value=data.meta_robots)
                option(value="index, follow") Index, Follow
                option(value="noindex, follow") No Index, Follow
                option(value="index, nofollow") Index, No Follow
                option(value="noindex, nofollow") No Index, No Follow
          .form-group
            label.col-sm-2.control-label Hiển thị
            .col-sm-10
              select.form-control(name="display")
                option(value="0") Không
                option(value="1") Có
