extends ./layout.pug

block pre-include
  - var menu = 'product';
  - var childMenu = 'specification';
  title Chất liệu

block post-include
  script.
    $('.btn-update').click(function() {
      var value = $('textarea[name="specification"]').val();
      $(this).addClass('disabled');
      $.ajax({
        type: 'POST',
        url: '/admin/meta/saveMeta',
        data: {
          key: 'table_specification',
          value: value
        },
        success: function(json) {
          $(document).find('.disabled').removeClass('disabled');
          if(!json.code) {
            toastr.success('Lưu thông tin thành công');
            /*reloadPage();*/
          }
          else toastr.error('Có lỗi xảy ra, vui lòng thử lại');
        }
      });
    });

block content
  section.content-header.clearfix
    ol.breadcrumb.col-sm-8
      li
        a Sản phẩm
      li
        a Thông số kỹ thuật
    ol.button-right.col-sm-4
      li
        a.btn.btn-admin.btn-update
          i.fa.fa-floppy-o
          i.fa.fa-circle-o-notch.fa-spin
          | Cập nhật
  section.content.clearfix
    .col-sm-12
      .box
        .box-body
          .form-group.clearfix
            .col-sm-2
              label Thông tin kỹ thuật
            .col-sm-10
              textarea.form-control(name="specification" rows=20)=data
