.discount {
	.news-layout.news-standard .wrapper {
		border: 3px outset #000;
		border-radius: 10px;
		padding: 15px;
	}
	.news-layout.news-standard .image img {
		height: 300px;
		width: 100%;
	}
	.news-layout.news-standard .caption h2 {
		font-size: 18px;
		text-align: center;
	}
	.news-layout.news-standard .caption .promotion-content {
		 /* Fallback for non-webkit */
	  	display: -webkit-box;
	  	max-width: 100%;
	     /* Fallback for non-webkit */
	  	margin: 0 auto;
	  	font-size: 13px;
	  	line-height: 2.2em;
	  	height: 4.4em;
	  	-webkit-line-clamp: 2;
	  	-webkit-box-orient: vertical;
	  	overflow: hidden;
	  	text-overflow: ellipsis;
	  	text-align: left;
	}
	.news-layout.news-standard .view-more {
		text-align: right;
		font-weight: bold;
		font-style: italic;
	}
	.news-layout.news-gallery .caption h2 {
		font-size: 18px;
		text-align: center;
	}
	.wrapper div.image {
		height: 300px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
	}
	div.news-layout.news-standard {
		margin-bottom: 10px;
	}
}
