@import "variables.scss";

footer {
  background-color: #f1f1f2;
  .hotline-n-subscribe {
    background-color: #FD6821;
    color: black;
    .hotlines {
      .hotline {
        margin: 20px 0;
        height: 55px;
        background-repeat: no-repeat !important;
        background-position: center center !important;
        background-size: contain !important;
      }
    }
    .subscribe {
      position: relative;
      text-align: left;
      padding: 15px 0;
      padding-left: 30px;
      .receive-info {
        padding-left: 0;
        margin-bottom: 5px;
        color: white;
        text-transform: uppercase;
        font-size: 24px;
        line-height: 25px;
      }
      input {
        width: 59%;
        height: 32px;
        outline: none;
        border: 0;
      }
      .btn-subscribe {
        position: absolute;
        left: 64%;
        bottom: 17px;
        padding: 5px 20px;
        background-color: black;
        border-radius: 5px;
        color: white;
        box-shadow: none;
        outline: 0;
        border: 0;
      }
    }
    @media screen and (max-width: 1199px) {
      .hotlines {
        padding-left: 0;
        .hotline {
          height: 50px;
        }
      }
      .subscribe {
        padding-left: 30px;
        .receive-info {
          font-size: 21px;
          line-height: 21px;
        }
        input {
          width: 65%;
          height: 31px;
        }
        .btn-subscribe {
          padding: 4px 17px;
          bottom: 18px;
          left: 69%;
        }
      }
    }

    @media screen and (max-width: 991px) {
      .container {
        width: 100%;
      }
      .hotlines {
        .hotline {
        height: 40px;
        margin: 20px 0;
        }
      }
      .subscribe {
        padding-left: 0;
        .receive-info {
          font-size: 17px;
          line-height: 17px;
        }
        input {
          height: 28px;
          width: 57%;
        }
        .btn-subscribe {
          left: 58%;
          padding: 3px 11px;
          font-size: 12px;
        }
      }
    }
    @media screen and (max-width: 767px) {
      .hotlines {
        .hotline {
          height: 27px;
          margin: 15px 0;
        }
      }
      .subscribe {
        display: none;
      }
    }

  }
  .menu-policy {
    margin: 20px 0;
    .mailings {
      .mailing {
        margin-bottom: 15px;
        .mailing-title {
          text-transform: uppercase;
          margin-bottom: 5px;
          font-size: 15px;
        }
        .email {
          font-size: 14px;
        }
      }
    }
    .policies {
      .policy {
        a {
          color: black;
          display: block;
        }
        margin-bottom: 5px;
      }
    }
    .introduce {
      .intro {
        a {
          color: black;
          display: block;
        }
        margin-bottom: 5px;
      }
    }
    .social-icon {
      .icon {
        display: inline-block;
        margin-right: 10px;
        height: 40px;
        width: 40px;
        background-size: contain !important;
        background-position: center center !important;
        background-repeat: no-repeat !important;
        margin-bottom: 5px;
      }
      .bo-cong-thuong {
        display: inline-block;
        height: 50px;
        width: 130px;
        background-size: contain !important;
        background-position: center center !important;
        background-repeat: no-repeat !important;
      }
    }
    @media screen and (max-width: 1119px) {
      .social-icon {
        .icon {
        margin-left: 10px;
        margin-right: 0;
        }
      }
    }
    @media screen and (max-width: 1024px) {
      .social-icon {
        .icon {
          height: 33px;
        width: 30px;
        }
        .bo-cong-thuong {
          height: 35px;
        width: 95px;
        }
      }
    }
    @media screen and (max-width: 991px) {
      .mailings {
        .mailing {
          margin-bottom: 13px;
          .mailing-title {
            font-size: 13px;
          line-height: 15px;
          }
          .email {
            font-size: 11px;
          line-height: 14px;
          }
        }
      }
    }

    @media screen and (max-width: 767px) {
      border-bottom: 1px solid #dadbdc;
      padding: 0;
      padding-bottom: 15px;
      .mailings {
        padding-left: 0;
        min-height: 120px;
        .mailing {
          margin-bottom: 13px;
          .mailing-title {
            text-transform: uppercase;
            margin-bottom: 4px;
            font-size: 13px;
            line-height: 15px;
          }
          .email {
            font-size: 11px;
            line-height: 16px;
          }
        }
      }
      .policies {
        padding-left: 0;
        .policy {
          font-size: 12px;
          line-height: 16px;
          margin-bottom: 4px;
        }
      }
      .introduce {
        padding-left: 0;
        .intro {
          font-size: 12px;
          line-height: 16px;
          margin-bottom: 4px;
        }
      }
      .social-icon {
        .icon {
        margin-left: 10px;
        }
      }
    }
  }
  .top-brands {
    .top-brands-title {
      .title {
        font-size: 17px;
        font-weight: 600;
        color: black;
        text-transform: uppercase;
        width: 150px;
        border-bottom: 1px solid #dadbdc;
        margin-bottom: 15px;
      }
    }
    .brands {
      padding: 0 15px;
      ul {
        width: calc(100%/7);
        display: inline-block;
        float: left;
        li {
          width: 100%;
          font-size: 13px;
          margin-bottom: 5px;
          a {
            font-size: 13px;
            color: #000;
          }
        }
      }
    }
    @media screen and (max-width: 991px) {
      .top-brands-title {
        .title {
          font-size: 15px;
        }
      }
      .brands {
        ul {
          width: 20%;
        }
      }
    }
  }
  .branchs {
    .container {
      padding: 0;
    }
    .group-branchs:first-child {
      padding-top: 20px;
      border-top: 1px solid #dadbdc;
    }
    .group-branchs {
      margin-top: 20px;
      .group-title {
        padding: 0;
        .title {
          margin-bottom: 10px;
          width: 190px;
          font-size: 17px;
          font-weight: 600;
          text-transform: uppercase;
          color: black;
          border-bottom: 1px solid #dadbdc;
        }
      }
      .branch {
        padding: 0 0;
        margin-bottom: 20px;
        .district {
          text-transform: uppercase;
          font-size: 15px;
          padding: 0 0;
        }
        .location {
          position: relative;
          .bullet {
            position: absolute;
            left: 8px;
          }
          font-size: 13px;
          .address {
            padding: 0 0;
          }
          .nearby {
            padding: 0 0;
          }
          .hotline {
            padding: 0 0;
            font-style: italic;
            font-weight: bold;
          }
        }
      }
    }
    @media screen and (max-width: 767px) {
      .group-branchs:first-child {
        border-top: none;
        padding-top: 0;
      }
      .group-branchs {
        margin-top: 0;
        .group-title {
          padding-left: 0;
          .title {
            font-size: 17px;
          }
        }
        .branch {
          padding-right: 6px;
          .district {
            font-size: 13px;
          }
          .location {
            font-size: 12px;
            padding-top: 5px;
            padding-right: 0;
            padding-left: 0;
            .bullet {
              left: -6px;
            }
          }
        }
      }
    }
  }
  .copyright {
  padding: 20px 0 !important;
  border-top: 1px solid #dadbdc;
  text-align: center;
  color: black;
    i {
      padding-right: 2px;
    }
  }
  @media screen and (max-width: 991px) {
    .container {
      width: 90%;
    }
  }
  @media screen and (max-width: 767px){
    .container {
      width: 100%;
    }
  }
  
}
