@import "variables.scss";

.homepage {
  .list-product-index {
    margin-top: 20px;
  }
  .category {
    padding-top: 30px;
    .collection-group {
      border-top: 2px solid lightgray;
      position: relative;
      margin-bottom: 50px;
      .list-brand {
        li {
          display: inline-block;
          width: 25%;
        }
        a {
          display: block;
          margin-bottom: 15px;
          text-align: center;
          padding-left: 10px;
          padding-right: 10px;
          span.middle-inline-block {
            height: 100%;
            display: inline-block;
            vertical-align: middle;
          }
          img {
            max-width: 80%;
          }
        }
      }
      .collection-title {
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        span {
          font-size: 20px;
          margin: 0;
          background: #fff;
          position: relative;
          top: -15px;
          padding: 0 10px;
        }
      }
      .introduce {
        text-align: center;
        margin-top: 30px;
        font-size: 15px;
        line-height: 18px;
        font-weight: 400;
        letter-spacing: .5px;
        p:first-child {
          margin: 0;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .homepage {
    > .container {
      padding: 0;
    }
    .list-product-index {
      margin-top: 0;
      padding: 0 15px;
    }
    .category {
      margin-top: 20px;
      .collection-group {
        .list-brand {
          a {
            padding-left: 15px;
            padding-right: 15px;
            img {
              max-width: 100%;
            }
          }
        }
        .collection-title {
          letter-spacing: 1px;
        }
        &.top-brand {
          .item {
            padding: 0 5px;
          }
        }
      }
      .latest-news {
        margin-bottom: 0;
      }
    }
  }
}
