@import "variables.scss";

.col20 {
  display: block;
  width: 20%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  @media screen and (max-width: 1200px) {
    width: 25%;
  }
  @media screen and (max-width: 991px) {
    width: calc(100%/3);
  }
  @media screen and (max-width: 768px) {
    width: 50%;
  }
}

.wrapper-item-product-loop {
  padding-bottom: 42px;
  position: relative;
  margin-bottom: 0;
  .btn-order {
    background-color: $main_color;
    color: #fff;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    cursor: pointer;
    height: 42px;
    line-height: 42px;
    padding: 0;
    display: none;
  }
  .item-product-loop {
    text-align: center;
    position: relative;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 45px 10px 10px;
    @media (max-width: 767px) {
      padding-top: 25px;
    }
    .wrap-image {
      display: block;
      position: relative;
      margin-bottom: 20px;
      @media (max-width: 767px) {
        margin-bottom: 10px;
        height: 150px;
      }
      img {
        max-width: 100%;
        height: 180px;
        width: initial;
        display: inline-block;
        @media (max-width: 767px) {
          width: initial !important;
          height: initial !important;
          max-height: 100%;
          max-width: 100%;
        }
      }
    }
    .percent {
      top: 5px;
      right: 5px;
      position: absolute;
      color: $color_white;
      padding: 3px 5px;
      border-radius: 5px;
      background-color: $main_color;
      font-weight: bold;
      font-size: 12px;
      z-index: 100;
      display: none;
      @media screen and (max-width: 767px) {
        display: block;
      }
    }
    .brand {
      color: #000;
      font-size: 16px;
      display: block;
      position: relative;
      font-weight: bold;
      text-transform: uppercase;
      @media screen and (max-width: 767px) {
        font-size: 16px;
        letter-spacing: .5px;
        .percent {
          display: none !important;
        }
      }
      .percent {
        left: 0;
        bottom: 4px;
        top: initial !important;
        right: initial !important;
        display: inline-block;
        @media (max-width: 380px) {
          left: -5px;
          bottom: 2px;
        }
        @media (max-width: 350px) {
          left: -10px;
          font-size: 11px;
        }
      }
    }
    .title {
      margin-top: 0;
      a {
        text-align: center;
        color: $color_black;
        display: -webkit-box;
        height: 27px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 500;
        font-size: 13px;
        font-family: Roboto, sans-serif;
        margin-bottom: 5px;
        letter-spacing: .5px;
        @media (max-width: 767px) {
          font-size: 12px;
          height: 26px;
        }
      }
    }
    .price {
      text-align: center;
      margin-top: 10px;
      height: 45px;
      letter-spacing: .5px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      span {
        display: block;
        padding: 0 2px;
        font-family: Roboto, sans-serif;
      }
      .price-compare {
        text-decoration: line-through;
        font-size: 14px;
        font-weight: 500;
      }
      .main-price {
        color: $color_red;
        font-weight: 400;
        font-size: 16px;
      }
    }
    .out-of-stock {
      color: $color_white;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 10px;
      text-align: center;
      position: absolute;
      left: 0;
      bottom: 0;
      font-weight: bold;
      width: 100%;
    }
    .variant-image {
      position: absolute;
      left: 0;
      top: 5px;
      width: 100%;
      text-align: left;
      display: none;
      z-index: 99;
      height: 40px;
      white-space: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      max-width: 100% !important;
      img {
        max-height: 100% !important;
        padding: 0;
        width: initial !important;
        display: inline-block !important;
      }
      .owl-stage-outer {
        z-index: 99;
        padding: 0 !important;
      }
    }
  }
  @media screen and (min-width: 767px) {
    &:hover {
      .btn-order {
        display: block;
      }
      .item-product-loop {
        border-color: $color_border;
        .variant-image {
          display: block;
          img {
            border: 1px solid $color_white;
            cursor: pointer;
            margin-right: 5px;
            margin-top: 0;
            &:hover {
              border: 1px solid $color_border;
            }
          }
        }
        .brand {
          .percent {
            display: none;
          }
        }
        .percent.top {
          display: inline-block;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .wrapper-item-product-loop {
    padding-bottom: 0 !important;
  }
}
