@import "reset.scss";
@import "variables.scss";
@import "bootstrap.scss";
@import "header.scss";
@import "collection.scss";
@import "product-loop.scss";
@import "footer.scss";
@import "index.scss";
@import "checkout.scss";
@import "product.scss";
@import "success.scss";
@import "article.scss";
@import "product-loop.scss";

body {
  color: $color_black;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 13px;
}

.anti-click {
  pointer-events: none;
  cursor: default;
}

.error {
  border-color: red;
}

.pd-0 {
  padding: 0;
}

.pd-left-0 {
  padding-left: 0;
}

.pd-right-0 {
  padding-right: 0;
}

a {
  text-decoration: none;
}

.product-mobile {
  border: 1px solid $color_grey;
}

.breadcrumb {
  font-size: 15px;
  font-weight: 500;
  background-color: $color_white;
  padding: 15px 0;
  padding-top: 0;
  margin: 0;
  @media (max-width: 767px) {
    padding-left: 15px;
    padding-bottom: 10px;
    font-weight: 600;
    line-height: 15px;
    margin-top: 0;
  }
  li {
    display: inline-block;
    padding-right: 5px;
    @media (max-width: 767px) {
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: .5px;
    }
    a {
      color: $color_black;
    }
  }
  li:nth-child(even) {
    padding: 0 10px;
    @media (max-width: 767px) {
      padding: 0 5px;
    }
  }
}

#pagination {
  padding-right: 0;
  @media screen and (max-width: 768px) {
    padding-right: 15px;
    text-align: center;
  }
  .page-item {
    display: inline-block;
    margin: 0 3px;
    &.disabled {
      display: none;
    }
    a {
      background-color: $color_border;
      color: $color_black;
      border: 0;
      border-radius: 0 !important;
      padding: 4px 10px;
      font-size: 12px;
      &:hover {
        background-color: $color_border;
        color: $color_black;
      }
    }
    &.active {
      a {
        background-color: $color_light_black;
        color: $color_white;
        border: 0;
        &:hover {
          background-color: $color_light_black;
          color: $color_white;
        }
      }
    }
  }
}

.order-mobile {
  padding: 15px 0;
  .close-btn {
    float: right;
    padding: 0;
    display: inline-block;
    font-size: 25px;
    color: $color_red;
    i {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .region {
    padding-left: 0;
    padding-right: 5px;
  }
  .subregion {
    padding-left: 5px;
    padding-right: 0;
  }
  .title {
    font-weight: bold;
    padding-bottom: 5px;
    padding-left: 5px;
    font-size: 16px;
    border-bottom: 5px solid $main_color;
    margin-bottom: 10px;
  }
  .product-detail {
    position: relative;
    .image {
      width: 160px;
      height: 200px;
      background-size: contain !important;
      background-repeat: no-repeat;
      @media screen and (max-width: 500px) {
      width: 100px;
      height: 150px;
      }
    }
    .info {
      width: calc(100% - 165px);
      position: absolute;
      right: 0;
      bottom: 0;
      @media screen and (max-width: 500px) {
        width: calc(100% - 110px);
        font-size: 14px !important;
        bottom: 10px;
      }
      .product-title {
        font-size: 18px;
        @media screen and (max-width: 500px) {
        font-size: 14px;
        }
      }
      .price {
        .main-price {
          font-size: 16px;
          font-weight: bold;
          @media screen and (max-width: 500px) {
          font-size: 14px;
          display: block;
          }
        }
        .compare-price {
          text-decoration: line-through;
          padding-left: 10px;
          @media screen and (max-width: 500px) {
          font-size: 12px;
          display: block;
          padding: 0;
          }
        }
        @media screen and (max-width: 500px) {
        .discount {
          font-size: 13px;
          font-style: italic;
          color: $color_bold_grey;
          }
        }
      }
    }
  }
  .checkout {
    margin-top: 25px;
    .item {
      padding: 5px 0;
    }
    .orange {
      float: right;
      font-weight: bold;
    }
    .subtotal {
      padding-bottom: 5px;
    }
    .total {
      padding-top: 10px;
      border-top: 1px solid $color_grey;
    }
  }
  .order-product {

    input, select {
      border: 2px solid $color_grey_background;
      padding-left: 10px;
      border-radius: 0;
      margin: 0 0 15px;
      outline: 0;
      height: 40px;
      box-shadow: none;
      @media screen and (max-width: 500px) {
        font-size: 12px;
      }
    }
    textarea {
      height: 60px;
      margin-bottom: 30px;
      border-radius: 0;
    }
    .btn-order {
      background-color: $main_color;
      color: $color_black;
      outline: 0;
      border: 0;
      width: 100%;
      outline: 0;
      font-size: 22px;
      padding: 13px;
      text-align: center;
      border-radius: 0;
      box-shadow: 2px 2px 1px $color_grey;
      font-weight: bold;
      &:hover {
        background-color: $main_color_hover;
      }
    }
  }
}


.main-title {
  font-weight: bold;
  text-align: center;
  margin: 40px 0 30px;
}

.index-slider-carousel {
  padding: 0;
  a {
    display: block;
  }
  .owl-item {
    padding: 0 !important;
    width: 100%;
  }
  .owl-dots {
    text-align: center;
    margin-top: 5px;
    .owl-dot {
      border: 2px solid $color_grey;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $color_grey;
      display: inline-block;
      text-align: center;
      margin: 3px;
    }
    .active {
      border: 2px solid $color_black;
      background-color: $color_black;
    }
  }
}

.owl-item {
  padding: 0 10px;
}

.product-index {
  background-color: $color_white;
  float: left;
}

.carousel-index {
  margin: 20px 0;
  padding: 0;
  .product-loop {
    img {
      width: initial !important;
    }
  }
  .owl-stage-outer {
    z-index: 99;
  }
  .owl-nav {
    position: absolute;
    width: 100%;
    bottom: calc(50% - 30px);
    span {
      img {
        max-width: 30px;
      }
    }
  }
}

.carousel-index .owl-nav .owl-prev {
  left: -50px !important;
  z-index: 100;
  position: relative;
  float: left;
}

.carousel-index .owl-nav .owl-next {
  left: 50px !important;
  z-index: 100;
  position: relative;
  float: right;
}

.content.row h1 {
    font-size: 15px;
    margin-top: 5px !important;
    margin-bottom: 15px !important;
    font-weight: bold;
    text-transform: uppercase;
}

//News detail

// Product
.product-slider-carousel {
  padding: 15px 0;
  img {
    max-width: 170px;
    margin: auto;
    @media screen and (max-width: 600px) {
      max-width: 100%;
    }
  }
  .owl-dots {
    position: relative;
    text-align: center;
    font-size: 14px;
    top: 10px;
    .owl-dot {
      border: 1px solid $color_border;
      background-color: $color_border;
      border-radius: 50%;
      width: 6px;
      height: 6px;
      display: inline-block;
      margin: 2px;
    }
    .active {
      border: 1px solid $color_black;
      background-color: $color_black;
    }
  }
}


// Product Mobile
#productMobileSlide {
  text-align: center;
  padding: 10px;
  background-color: $color_bland_grey;
  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 120px;
  }
  .carousel-indicators {
    bottom: -35px;
    letter-spacing: -2px;
    li {
      border: none;
      background-color: $color_bold_grey;
    }
    .active {
      border: none;
      background-color: $color_black;
    }
  }
}
.product-detail-mobile {
  padding: 0;
  .title {
    font-size: 22px;
    font-weight: bold;
    display: block;
    margin-top: 0;
  }
  .price {
    margin: 30px 0 5px 0;
    position: relative;
    text-align: center;
    .price-vnd {
      color: $main_color;
      font-size: 25px;
      font-weight: bold;
      display: inline-block;
    }
    .price-compare {
      text-decoration: line-through;
      font-size: 14px;
      display: inline-block;
      padding-left: 10px;
    }
  }
  .save-money {
    text-align: center;
    font-size: 17px;
    color: $color_grey;
  }
}

.related-mobile {
  padding: 0;
  border: none !important;
  .title-related {
    text-align: center;
    font-size: 18px;
    padding: 15px;
    font-weight: bold;
    width: 100%;
    border-top: 1px solid $color_border;
    border-bottom: 1px solid $color_border;
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.error-page {
  margin: 20px auto;
  img {
    margin: auto;
  }
  .back-to-home {
    text-align: center;
    padding-top: 15px;
    button {
      background-color: $color_black;
      border: none;
      padding: 10px 20px;
      font-size: 14px;
      border-radius: 5px;
    }
    a {
      color: $color_white;
      text-transform: uppercase;
      font-weight: bold;
      &:hover {
        color: $color_grey;
      }
    }
  }
  @media screen and (max-width: 768px) {
    padding-top: 30px;
    .back-to-home {
      padding-top: 5px;
      button {
        font-size: 12px;
        padding: 5px 10px;
      }
    }
  }
}

.btn-homepage {
  background-color: $main_color !important;
  color: $color_white !important;
  margin: 0 0 20px;
  outline: 0;
  border: 0;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  padding: 0 15px;
  display: inline-block;
  &:hover {
    background-color: $main_color !important;
    color: $color_white !important;
  }
}

.btn {
  > img {
    display: none;
    max-width: 17px;
    margin-right: 10px;
  }
  &.disabled > img {
    display: inline-block;
  }
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}

button.close {
  outline: 0;
}

section img {
  max-width: 100%;
}

.zoomContainer {
  z-index: 998 !important;
  .zoomWindow {
    border: 1px solid #ddd !important;
  }
  .zoomLens {
    width: 120px !important;
    height: 120px !important;
  }
}
