$color_blue: #274C9C;
$color_blue_saleoff: #20A4CB;
$color_light_blue: #3569d6;
$color_white: #fff;
$color_border: #ddd;
$color_black: #000;
$color_grey: #aaa;
$color_yellow: #fdf200;
$color_grey_background: #DEDEDE;
$color_bold_grey: #93979F;
$color_green: #9EE06E;
$color_light_black: #444;
$color_light_grey: #EFEFEF;
$color_black_red: #D21A32;
$color_bland_grey: #F8F8F8;
$color_red: #fc2330;
$main_color: #101010;
$main_color_hover: #101010;
