extends ./layout.pug

block pre-include
  title=data.title

block content
  .container.landing-page #{data['content']}
  if data.collection_id
    .container
      .list-product.clearfix.col-xs-12
        each product in products
          .product-loop.col-xs-4(style="width: 20% !important")
            include snippet/product-loop
  .container.landing-page #{data['content_promotion']}
