extends ./layout.pug

block pre-include
  title=keyword
    |  - Balo hàng hiệu
  link(rel='stylesheet', href='/include/bootstrap-tagsinput.min.css')
  script(src='/include/twbsPagination.min.js')

block post-include
  script(src='/include/bootstrap-tagsinput.min.js')

block content
  .collection.container
    include snippet/breadcrumb
    //- .cover.col-sm-12
    //-   img(src="/images/cover.png")
    .row
      .col-sm-3.collection-left
        include snippet/sidebar
        .title Balo đẹp - Balo xinh - Balo giá rẻ tại TPHCM
      .col-sm-9.collection-right
        include snippet/filter
        .list-brand-filter
          input.list-brand(data-role="tagsinput")
        if total_pages == 0
          .no-product.col-xs-12 Không có sản phẩm phù hợp
        else
          .list-product.col-xs-12.pd-0
            each product in products
              .product-loop.col-sm-3
                include snippet/product-loop
          if total_pages > 1
            #pagination.col-sm-12.text-right(data-page_number=page_number data-total=total_pages)
            script.
              var page_number = $('#pagination').data('page_number');
              var total = $('#pagination').data('total');
              $('#pagination').twbsPagination({
                totalPages: total,
                visiblePages: 5,
                startPage: page_number,
                initiateStartPageClick: false,
                first: '<i class="fa fa-angle-double-left" aria-hidden="true"></i>',
                prev: '<i class="fa fa-angle-left" aria-hidden="true"></i>',
                next: '<i class="fa fa-angle-right" aria-hidden="true"></i>',
                last: '<i class="fa fa-angle-double-right" aria-hidden="true"></i>',
                onPageClick: function (event, page) {
                  window.location.href = location.pathname + location.search + '&page=' + page;
                }
              });
