extends ./layout.pug

block pre-include
  title Video

block content
  .video.container
    include snippet/breadcrumb
    .col-sm-12.banner
      img(src=themeURI() + "/img/video_banner.jpg")
    .col-sm-12.clearfix.content.col-xs-12
      .row
        each video in videos
          .col-md-4.col-sm-6.col-xs-12.pd-0.clip 
            !{video.embed_link}
            p=video.title
  #pagination.col-sm-12.text-right
      
      
      
      
