.box
  .form-horizontal
    .box-title.clearfix
      .col-xs-6.title TỐI ƯU SEO
      ul.nav.nav-tabs.nav-tabs-lang.col-xs-6
        li.active
          a(data-toggle='tab', href='#tab-seo-vi') Tiếng Việt
        li
          a(data-toggle='tab', href='#tab-seo-en') Tiếng Anh
    .box-body
      .tab-content
        #tab-seo-vi.tab-pane.fade.in.active
          .form-group
            label.col-sm-2.control-label Tiêu đề trang
            .col-sm-10
              input.form-control(name="meta_title", value=seo.meta_title)
          .form-group
            label.col-sm-2.control-label Mô tả trang
            .col-sm-10
              textarea.form-control(name="meta_description")=seo.meta_description
          .form-group
            label.col-sm-2.control-label Từ khóa
            .col-sm-10
              textarea.form-control(name="meta_keyword")=seo.meta_keyword
          .form-group
            label.col-sm-2.control-label Meta robots
            .col-sm-10
              select.form-control(name="meta_robots", data-value=seo.meta_robots)
                option(value="index, follow") Index, Follow
                option(value="noindex, follow") No Index, Follow
                option(value="index, nofollow") Index, No Follow
                option(value="noindex, nofollow") No Index, No Follow
        #tab-seo-en.tab-pane.fade
          .form-group
            label.col-sm-2.control-label Tiêu đề trang
            .col-sm-10
              input.form-control(name="meta_title")
          .form-group
            label.col-sm-2.control-label Mô tả trang
            .col-sm-10
              textarea.form-control(name="meta_description")
          .form-group
            label.col-sm-2.control-label Từ khóa
            .col-sm-10
              textarea.form-control(name="meta_keyword")
          .form-group
            label.col-sm-2.control-label Meta robots
            .col-sm-10
              select.form-control(name="meta_robots")
                option(value="index, follow") Index, Follow
                option(value="noindex, follow") No Index, Follow
                option(value="index, nofollow") Index, No Follow
                option(value="noindex, nofollow") No Index, No Follow
