.modal#modal-change-password.modal.fade(role="dialog")
  .modal-dialog
    form.modal-content.form-change-password
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4.modal-title Đổi mật khẩu
      .form-horizontal
        .box-body
          .form-group
            label.col-sm-3.control-label Mật khẩu cũ
            .col-sm-8
              input.form-control(type='password', placeholder='Mật khẩu cũ', name="password", required)
          .form-group
            label.col-sm-3.control-label Mật khẩu mới
            .col-sm-8
              input.form-control(type='password', placeholder='Mật khẩu mới', name="new_password", required)
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Hủy
        button.btn.btn-admin(type='submit') Đồng ý
