script#item-image(type="text/x-tmpl").
   <div class="image col-xs-2" data-index="{%=o.index%}" style="background-image:url('{%=o.src%}');">
    <span class="rotate">
      <i class="fa fa-undo"></i>
    </span>
    <span class="remove">
      <i class="fa fa-times"></i>
    </span>
  </div>

script#search-article(type="text/x-tmpl").
  <li data-id={%=o.id%}>
    <a  class="add-article-related">{%=o.title%}</a>
    <span>
      <a href="/{%=o.link%}" target="_blank">
      <i class="fa fa-link"></i></a>
    </span>
  </li>
  
script#add-article(type="text/x-tmpl").
  <div class="item" data-id={%=o.id%}>
    <a class="btn-remove">
      <i class="fa fa-times"></i>
    </a>
    <a href="{%=o.link%}" target="_blank">{%=o.title%}</a>
  </div>

script#add-variant(type="text/html").
  <div class="variant-item clearfix" data-id={%=o.id%}>
    <div class="row">
      <div class="col-xs-11">
        <div class="row">
          <div class="col-sm-3">
            <input name="variant-name" placeholder="Tên" class="form-control"/>
          </div>
          <div class="col-sm-3">
            <input name="variant-price" placeholder="Giá" class="form-control"/>
          </div>
          <div class="col-sm-3">
            <input name="variant-price-compare" placeholder="Giá so sánh" class="form-control"/>
          </div>
          <div class="col-sm-3">
            <input type="number" name="variant-inventory" value="1" class="form-control"/>
          </div>
        </div>
      </div>
      <div class="col-xs-1">
        <a class="btn-remove btn-remove-variant"><i class="fa fa-trash"></i></a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-11 variant-images">
        <label>
          <img src="{%=o.static%}/img/loading.gif" style="margin-left: 5px;" class="hidden no-border loading">
          <form enctype="multipart/form-data" class="hidden">
            <input class="upload-list-image" id="upload-image-variant-{%=o.id%}" type="file" name="upload[]" data-id={%=o.id%} multiple="multiple">
          </form>
        </label>
        <div class="col-sm-12 list-image">
          <div class="col-xs-2 add-image">
            <label for="upload-image-variant-{%=o.id%}"></label>
          </div>
        </div>
      </div>
    </div>
  </div>
