footer {
  background-color: #f1f1f2; }
  footer .hotline-n-subscribe {
    background-color: #101010;
    color: black; }
    footer .hotline-n-subscribe .hotlines .hotline {
      margin: 20px 0;
      height: 55px;
      background-repeat: no-repeat !important;
      background-position: center center !important;
      background-size: contain !important; }
    footer .hotline-n-subscribe .subscribe {
      position: relative;
      text-align: left;
      padding: 15px 0;
      padding-left: 30px; }
      footer .hotline-n-subscribe .subscribe .receive-info {
        padding-left: 0;
        margin-bottom: 5px;
        color: white;
        text-transform: uppercase;
        font-size: 24px;
        line-height: 25px; }
      footer .hotline-n-subscribe .subscribe input {
        width: 59%;
        height: 32px;
        outline: none;
        border: 0; }
      footer .hotline-n-subscribe .subscribe .btn-subscribe {
        position: absolute;
        left: 64%;
        bottom: 17px;
        padding: 5px 20px;
        background-color: black;
        border-radius: 5px;
        color: white;
        box-shadow: none;
        outline: 0;
        border: 0; }
    @media screen and (max-width: 1199px) {
      footer .hotline-n-subscribe .subscribe {
        padding-left: 30px; }
        footer .hotline-n-subscribe .subscribe .receive-info {
          font-size: 21px;
          line-height: 21px; }
        footer .hotline-n-subscribe .subscribe input {
          width: 65%;
          height: 31px; }
        footer .hotline-n-subscribe .subscribe .btn-subscribe {
          padding: 4px 17px;
          bottom: 18px;
          left: 69%; } }
    @media screen and (max-width: 991px) {
      footer .hotline-n-subscribe .container {
        width: 100%; }
      footer .hotline-n-subscribe .hotlines .hotline {
        height: 40px;
        margin: 20px 0; }
      footer .hotline-n-subscribe .subscribe {
        padding-left: 0; }
        footer .hotline-n-subscribe .subscribe .receive-info {
          font-size: 17px;
          line-height: 17px; }
        footer .hotline-n-subscribe .subscribe input {
          height: 28px;
          width: 57%; }
        footer .hotline-n-subscribe .subscribe .btn-subscribe {
          left: 58%;
          padding: 3px 11px;
          font-size: 12px; } }
    @media screen and (max-width: 767px) {
      footer .hotline-n-subscribe .hotlines .hotline {
        height: 27px;
        margin: 15px 0; }
      footer .hotline-n-subscribe .subscribe {
        display: none; } }
  footer .top-brands .top-brands-title .title {
    font-size: 17px;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
    width: 150px;
    border-bottom: 1px solid #dadbdc;
    margin-bottom: 15px; }
  footer .top-brands .brands {
    padding: 0 15px; }
    footer .top-brands .brands ul {
      width: calc(100%/7);
      display: inline-block;
      float: left; }
      footer .top-brands .brands ul li {
        width: 100%;
        font-size: 13px;
        margin-bottom: 5px; }
        footer .top-brands .brands ul li a {
          font-size: 13px;
          color: #000; }
  @media screen and (max-width: 991px) {
    footer .top-brands .top-brands-title .title {
      font-size: 15px; }
    footer .top-brands .brands ul {
      width: 20%; } }
  footer .copyright {
    padding: 20px 0 !important;
    border-top: 1px solid #dadbdc;
    text-align: center;
    color: black; }
    footer .copyright i {
      padding-right: 2px; }
  @media screen and (max-width: 991px) {
    footer .container {
      width: 90%; } }
  @media screen and (max-width: 767px) {
    footer .container {
      width: 100%; } }
