.homepage .list-product-index {
  margin-top: 20px; }

.homepage .category {
  padding-top: 30px; }
  .homepage .category .collection-group {
    border-top: 2px solid lightgray;
    position: relative;
    margin-bottom: 50px; }
    .homepage .category .collection-group .list-brand li {
      display: inline-block;
      width: 25%; }
    .homepage .category .collection-group .list-brand a {
      display: block;
      margin-bottom: 15px;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px; }
      .homepage .category .collection-group .list-brand a span.middle-inline-block {
        height: 100%;
        display: inline-block;
        vertical-align: middle; }
      .homepage .category .collection-group .list-brand a img {
        max-width: 80%; }
    .homepage .category .collection-group .collection-title {
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: center; }
      .homepage .category .collection-group .collection-title span {
        font-size: 20px;
        margin: 0;
        background: #fff;
        position: relative;
        top: -15px;
        padding: 0 10px; }
    .homepage .category .collection-group .introduce {
      text-align: center;
      margin-top: 30px;
      font-size: 15px;
      line-height: 18px;
      font-weight: 400;
      letter-spacing: .5px; }
      .homepage .category .collection-group .introduce p:first-child {
        margin: 0; }

@media (max-width: 767px) {
  .homepage > .container {
    padding: 0; }
  .homepage .list-product-index {
    margin-top: 0;
    padding: 0 15px; }
  .homepage .category {
    margin-top: 20px; }
    .homepage .category .collection-group .list-brand a {
      padding-left: 15px;
      padding-right: 15px; }
      .homepage .category .collection-group .list-brand a img {
        max-width: 100%; }
    .homepage .category .collection-group .collection-title {
      letter-spacing: 1px; }
    .homepage .category .collection-group.top-brand .item {
      padding: 0 5px; }
    .homepage .category .latest-news {
      margin-bottom: 0; } }
