.product, #modal-order {
  margin-top: 20px;
  margin-bottom: 20px; }
  .product .large-image-zoom, #modal-order .large-image-zoom {
    width: 100% !important; }
  .product .list-image, #modal-order .list-image {
    padding-left: 0; }
    .product .list-image .slide-small-image .slick-arrow:first-child, #modal-order .list-image .slide-small-image .slick-arrow:first-child {
      display: block;
      width: 70px;
      text-align: center;
      position: absolute;
      left: 0;
      top: -30px;
      z-index: 1;
      font-size: 25px;
      cursor: pointer; }
    .product .list-image .slide-small-image .slick-arrow:last-child, #modal-order .list-image .slide-small-image .slick-arrow:last-child {
      display: block;
      width: 70px;
      text-align: center;
      position: absolute;
      left: 0;
      bottom: -30px;
      z-index: 1;
      font-size: 25px;
      cursor: pointer; }
    .product .list-image .slide-small-image .slick-slide, #modal-order .list-image .slide-small-image .slick-slide {
      margin-bottom: 10px;
      width: 100% !important;
      cursor: pointer;
      outline: 0;
      box-shadow: none; }
      .product .list-image .slide-small-image .slick-slide img, #modal-order .list-image .slide-small-image .slick-slide img {
        max-width: 60px;
        border: 1px solid #ddd;
        outline: 0;
        box-shadow: none; }
      .product .list-image .slide-small-image .slick-slide.active img, #modal-order .list-image .slide-small-image .slick-slide.active img {
        border-color: #101010; }
    .product .list-image .slider-large-image, #modal-order .list-image .slider-large-image {
      position: relative;
      padding-left: 15px; }
      .product .list-image .slider-large-image img, #modal-order .list-image .slider-large-image img {
        border: 1px solid lightgray;
        max-width: 100%;
        width: initial;
        margin: 0 auto; }
    .product .list-image .bg, #modal-order .list-image .bg {
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: center !important;
      cursor: pointer; }
    .product .list-image .image-small, #modal-order .list-image .image-small {
      width: 100%;
      border: 1px solid #ddd;
      margin-bottom: 5px;
      cursor: pointer; }
      .product .list-image .image-small:last-child, #modal-order .list-image .image-small:last-child {
        margin-bottom: 0; }
    .product .list-image .image-large, #modal-order .list-image .image-large {
      width: 100%;
      padding-bottom: 100%;
      border: 1px solid #ddd; }
  .product .detail, #modal-order .detail {
    letter-spacing: 1px; }
    .product .detail .in-stock-branch, #modal-order .detail .in-stock-branch {
      margin-bottom: 10px;
      margin-top: 35px; }
      .product .detail .in-stock-branch button, #modal-order .detail .in-stock-branch button {
        width: 100%;
        border: 1px solid;
        line-height: 25px;
        text-align: center;
        padding: 0;
        background-color: #fff;
        border-radius: 0;
        box-shadow: none;
        outline: 0;
        height: 38px;
        font-size: 14px;
        color: #777;
        border-color: #777;
        font-weight: 700;
        letter-spacing: 1px; }
        .product .detail .in-stock-branch button .caret, #modal-order .detail .in-stock-branch button .caret {
          margin-left: 5px; }
      .product .detail .in-stock-branch ul, #modal-order .detail .in-stock-branch ul {
        width: 100%;
        border-radius: 0;
        border: 1px solid #000;
        margin-top: 0;
        border-top: 0;
        padding: 0; }
        .product .detail .in-stock-branch ul li, #modal-order .detail .in-stock-branch ul li {
          padding: 5px 10px;
          cursor: pointer;
          display: block;
          font-size: 13px;
          float: left;
          width: 100%; }
          .product .detail .in-stock-branch ul li:hover, #modal-order .detail .in-stock-branch ul li:hover {
            background-color: #ddd; }
          .product .detail .in-stock-branch ul li .left, #modal-order .detail .in-stock-branch ul li .left {
            width: 65px;
            display: inline-block;
            float: left;
            text-align: center; }
            .product .detail .in-stock-branch ul li .left img, #modal-order .detail .in-stock-branch ul li .left img {
              max-width: 25px; }
            .product .detail .in-stock-branch ul li .left span, #modal-order .detail .in-stock-branch ul li .left span {
              font-weight: bold;
              display: block;
              font-size: 9px;
              padding-top: 3px; }
          .product .detail .in-stock-branch ul li .right, #modal-order .detail .in-stock-branch ul li .right {
            width: calc(100% - 65px);
            display: inline-block;
            float: left;
            padding-left: 5px; }
    .product .detail .list-variant .item-variant, #modal-order .detail .list-variant .item-variant {
      display: inline-block;
      margin-right: 10px;
      width: 20%; }
      .product .detail .list-variant .item-variant img, #modal-order .detail .list-variant .item-variant img {
        cursor: pointer;
        margin-bottom: 5px; }
        .product .detail .list-variant .item-variant img.active, #modal-order .detail .list-variant .item-variant img.active {
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4); }
    .product .detail p, #modal-order .detail p {
      margin-bottom: 5px; }
    .product .detail .title, #modal-order .detail .title {
      font-size: 20px;
      color: #000;
      font-weight: 600;
      margin-top: 0;
      margin-bottom: 5px;
      line-height: 22px; }
      .product .detail .title a, #modal-order .detail .title a {
        color: #000; }
    .product .detail .brand, #modal-order .detail .brand {
      text-transform: uppercase;
      font-weight: 900;
      padding-bottom: 3px;
      border-bottom: 1px solid #999;
      margin-bottom: 20px;
      font-size: 15px;
      width: 75%; }
      .product .detail .brand a, #modal-order .detail .brand a {
        color: #000; }
        .product .detail .brand a:hover, #modal-order .detail .brand a:hover {
          text-decoration: underline; }
    .product .detail .price, #modal-order .detail .price {
      line-height: 25px;
      margin-bottom: 0; }
      .product .detail .price .main-price, #modal-order .detail .price .main-price {
        color: #000;
        font-size: 27px;
        font-weight: bold;
        letter-spacing: 2px; }
        @media (max-width: 991px) and (min-width: 768px) {
          .product .detail .price .main-price, #modal-order .detail .price .main-price {
            font-size: 24px; } }
      .product .detail .price .price-compare, #modal-order .detail .price .price-compare {
        font-weight: 700;
        color: #101010;
        text-decoration: line-through;
        margin-left: 5px;
        font-size: 16px; }
    .product .detail .discount, #modal-order .detail .discount {
      font-style: italic;
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 10px; }
    .product .detail .short-description, #modal-order .detail .short-description {
      color: #777;
      font-size: 15px;
      margin-bottom: 25px; }
    .product .detail .owl-carousel-variant, #modal-order .detail .owl-carousel-variant {
      margin: 10px 0; }
      .product .detail .owl-carousel-variant .owl-stage-outer, #modal-order .detail .owl-carousel-variant .owl-stage-outer {
        z-index: 99; }
        .product .detail .owl-carousel-variant .owl-stage-outer .owl-stage, #modal-order .detail .owl-carousel-variant .owl-stage-outer .owl-stage {
          transform: translate3d(0px, 0px, 0px); }
          .product .detail .owl-carousel-variant .owl-stage-outer .owl-stage .owl-item, #modal-order .detail .owl-carousel-variant .owl-stage-outer .owl-stage .owl-item {
            cursor: pointer;
            padding-left: 0; }
      .product .detail .owl-carousel-variant .owl-nav, #modal-order .detail .owl-carousel-variant .owl-nav {
        position: absolute;
        bottom: 10px;
        width: 100%; }
        .product .detail .owl-carousel-variant .owl-nav span, #modal-order .detail .owl-carousel-variant .owl-nav span {
          font-size: 18px; }
          .product .detail .owl-carousel-variant .owl-nav span.owl-next, #modal-order .detail .owl-carousel-variant .owl-nav span.owl-next {
            display: inline-block;
            float: right;
            position: relative;
            left: 5px;
            z-index: 9999; }
            .product .detail .owl-carousel-variant .owl-nav span.owl-next img, #modal-order .detail .owl-carousel-variant .owl-nav span.owl-next img {
              max-width: 20px; }
          .product .detail .owl-carousel-variant .owl-nav span.owl-prev, #modal-order .detail .owl-carousel-variant .owl-nav span.owl-prev {
            display: inline-block;
            position: relative;
            left: -10px;
            z-index: 9999; }
            .product .detail .owl-carousel-variant .owl-nav span.owl-prev img, #modal-order .detail .owl-carousel-variant .owl-nav span.owl-prev img {
              max-width: 20px; }
          .product .detail .owl-carousel-variant .owl-nav span.disabled, #modal-order .detail .owl-carousel-variant .owl-nav span.disabled {
            display: none; }
    .product .detail .introduce, #modal-order .detail .introduce {
      margin-top: 20px;
      margin-bottom: 20px; }
      .product .detail .introduce .title, #modal-order .detail .introduce .title {
        font-size: 17px; }
      .product .detail .introduce ul li, #modal-order .detail .introduce ul li {
        font-size: 13px;
        padding-bottom: 10px; }
        .product .detail .introduce ul li .fa, #modal-order .detail .introduce ul li .fa {
          margin-right: 5px;
          color: #101010; }
    .product .detail .btn-order-product, #modal-order .detail .btn-order-product {
      padding: 15px 0;
      background-color: #101010;
      color: #fff;
      width: 100%;
      text-align: center;
      cursor: pointer;
      box-shadow: none;
      outline: 0;
      font-size: 16px;
      line-height: 18px; }
      @media (max-width: 991px) and (min-width: 768px) {
        .product .detail .btn-order-product, #modal-order .detail .btn-order-product {
          font-size: 14px; } }
      .product .detail .btn-order-product span, #modal-order .detail .btn-order-product span {
        font-size: 12px;
        font-weight: normal; }
      .product .detail .btn-order-product.out-of-stock, #modal-order .detail .btn-order-product.out-of-stock {
        background-color: #ccc; }
    .product .detail .hotline, #modal-order .detail .hotline {
      text-align: center;
      margin: 10px 0;
      padding: 0;
      font-size: 11px;
      font-weight: 600;
      letter-spacing: 1px; }
      .product .detail .hotline > div, #modal-order .detail .hotline > div {
        padding: 0;
        padding-top: 3px; }
        .product .detail .hotline > div p, #modal-order .detail .hotline > div p {
          border-right: 1px solid #000; }
          .product .detail .hotline > div p span.phone, #modal-order .detail .hotline > div p span.phone {
            font-size: 18px;
            letter-spacing: 1px; }
            @media (max-width: 991px) and (min-width: 768px) {
              .product .detail .hotline > div p span.phone, #modal-order .detail .hotline > div p span.phone {
                display: block; } }
        .product .detail .hotline > div:first-child p, #modal-order .detail .hotline > div:first-child p {
          border-left: 1px solid #000; }
    .product .detail .quantity, #modal-order .detail .quantity {
      float: none;
      margin: 10px 0; }
  .product .product-bottom, #modal-order .product-bottom {
    padding: 30px 0; }
    .product .product-bottom .description, #modal-order .product-bottom .description {
      margin-bottom: 20px; }
      @media (min-width: 768px) {
        .product .product-bottom .description, #modal-order .product-bottom .description {
          padding-right: 30px;
          margin-bottom: 0; } }
      .product .product-bottom .description section, #modal-order .product-bottom .description section {
        font-size: 15px;
        letter-spacing: 1px;
        padding-top: 30px; }
      .product .product-bottom .description img, #modal-order .product-bottom .description img {
        max-width: 100%; }
      .product .product-bottom .description .title, #modal-order .product-bottom .description .title {
        font-size: 20px;
        font-weight: bold;
        margin-top: 0; }
      .product .product-bottom .description .nav-tabs li, #modal-order .product-bottom .description .nav-tabs li {
        padding: 0; }
        .product .product-bottom .description .nav-tabs li.active a, #modal-order .product-bottom .description .nav-tabs li.active a {
          color: #000; }
        .product .product-bottom .description .nav-tabs li.active .border, #modal-order .product-bottom .description .nav-tabs li.active .border {
          height: 3px;
          background-color: #000; }
        .product .product-bottom .description .nav-tabs li a, #modal-order .product-bottom .description .nav-tabs li a {
          font-size: 16px;
          padding-left: 0;
          padding-right: 0;
          margin-right: 0;
          border: 0;
          border-radius: 0;
          color: #aaa;
          padding-bottom: 5px; }
          .product .product-bottom .description .nav-tabs li a:hover, #modal-order .product-bottom .description .nav-tabs li a:hover {
            background: none; }
        .product .product-bottom .description .nav-tabs li .border, #modal-order .product-bottom .description .nav-tabs li .border {
          width: 50%;
          height: 0; }
      .product .product-bottom .description .tab-content table, #modal-order .product-bottom .description .tab-content table {
        border-collapse: collapse; }
      .product .product-bottom .description .tab-content table, .product .product-bottom .description .tab-content th, .product .product-bottom .description .tab-content td, #modal-order .product-bottom .description .tab-content table, #modal-order .product-bottom .description .tab-content th, #modal-order .product-bottom .description .tab-content td {
        border: 1px solid #aaa;
        padding: 10px; }
    .product .product-bottom .news-support, #modal-order .product-bottom .news-support {
      position: relative; }
      .product .product-bottom .news-support .support .content-div, #modal-order .product-bottom .news-support .support .content-div {
        position: relative;
        top: 40px;
        padding: 10px 20px 30px;
        z-index: 900;
        background: #fff;
        border: 2px solid lightgray;
        background: #fff; }
        .product .product-bottom .news-support .support .content-div .title, #modal-order .product-bottom .news-support .support .content-div .title {
          font-weight: 700;
          font-size: 21px;
          letter-spacing: 1px;
          margin: 15px 0 30px 15px;
          text-transform: uppercase; }
        .product .product-bottom .news-support .support .content-div p, #modal-order .product-bottom .news-support .support .content-div p {
          font-size: 16px;
          font-weight: 400;
          letter-spacing: 1px;
          line-height: 30px;
          margin-left: 40px;
          color: #101010; }
      .product .product-bottom .news-support .support .blank-div, #modal-order .product-bottom .news-support .support .blank-div {
        position: absolute;
        right: -20px;
        top: 80px;
        z-index: 800;
        background: #fff;
        border: 2px solid lightgray; }
      .product .product-bottom .news-support .news, #modal-order .product-bottom .news-support .news {
        position: relative;
        left: 35px;
        border: 1px solid #aaa;
        padding: 0;
        margin-right: 40px;
        margin-top: 125px;
        margin-bottom: 20px; }
        @media (max-width: 1199px) {
          .product .product-bottom .news-support .news, #modal-order .product-bottom .news-support .news {
            left: 0;
            margin-right: 0; } }
        .product .product-bottom .news-support .news .title, #modal-order .product-bottom .news-support .news .title {
          font-size: 14px;
          font-weight: 700;
          letter-spacing: 1px;
          margin-top: 0;
          padding: 10px 10px 5px;
          border-bottom: 1px solid #aaa;
          background: #ddd; }
        .product .product-bottom .news-support .news .content, #modal-order .product-bottom .news-support .news .content {
          padding: 0 10px;
          margin-top: 10px; }
          @media (max-width: 991px) {
            .product .product-bottom .news-support .news .content .container-fluid, #modal-order .product-bottom .news-support .news .content .container-fluid {
              padding: 0; } }
          .product .product-bottom .news-support .news .content .row, #modal-order .product-bottom .news-support .news .content .row {
            display: flex;
            margin-bottom: 15px; }
            @media (max-width: 991px) {
              .product .product-bottom .news-support .news .content .row, #modal-order .product-bottom .news-support .news .content .row {
                margin: 0;
                margin-bottom: 15px; } }
          .product .product-bottom .news-support .news .content .news-image, #modal-order .product-bottom .news-support .news .content .news-image {
            width: 30% !important;
            padding-bottom: 22%;
            background-size: cover;
            background-position: center; }
          .product .product-bottom .news-support .news .content .news-see-more, #modal-order .product-bottom .news-support .news .content .news-see-more {
            padding-left: 10px;
            padding-right: 0;
            position: relative; }
            .product .product-bottom .news-support .news .content .news-see-more .news-title, #modal-order .product-bottom .news-support .news .content .news-see-more .news-title {
              text-transform: uppercase;
              font-size: 12px;
              font-weight: 700;
              letter-spacing: 0.5px;
              color: #000;
              display: -webkit-box;
              line-height: 13px; }
              @media (max-width: 991px) {
                .product .product-bottom .news-support .news .content .news-see-more .news-title, #modal-order .product-bottom .news-support .news .content .news-see-more .news-title {
                  line-height: 13px; } }
            .product .product-bottom .news-support .news .content .news-see-more .bottom-line, #modal-order .product-bottom .news-support .news .content .news-see-more .bottom-line {
              position: absolute;
              bottom: -3px;
              left: 10px;
              text-decoration: underline !important;
              color: #ccc;
              font-style: italic;
              font-size: 12px;
              letter-spacing: 1px; }
        .product .product-bottom .news-support .news .news-list, #modal-order .product-bottom .news-support .news .news-list {
          margin-top: 20px;
          margin-bottom: 12px;
          padding: 0 10px; }
          .product .product-bottom .news-support .news .news-list a, #modal-order .product-bottom .news-support .news .news-list a {
            color: #ccc;
            text-decoration: underline !important;
            font-style: italic;
            font-size: 11px;
            letter-spacing: 1px; }

@media (max-width: 767px) {
  .product-wrapper.container {
    padding: 0; }
  .product .custom-scrollbar, #modal-order .custom-scrollbar {
    height: 375px;
    width: 70px; }
  .product .item, #modal-order .item {
    border: none; }
  .product .list-image .slider-large-image, #modal-order .list-image .slider-large-image {
    padding: 0; }
    .product .list-image .slider-large-image img, #modal-order .list-image .slider-large-image img {
      border: none; }
  .product .detail .in-stock-branch, #modal-order .detail .in-stock-branch {
    margin-top: 30px; }
    .product .detail .in-stock-branch button, #modal-order .detail .in-stock-branch button {
      letter-spacing: .5px;
      height: 40px;
      font-size: 15px;
      color: #777;
      border-color: #777; }
  .product .detail .title, #modal-order .detail .title {
    text-align: left;
    font-size: 19px;
    letter-spacing: 1.5px; }
  .product .detail .brand, #modal-order .detail .brand {
    font-size: 12px;
    border-bottom: 0;
    padding-bottom: 0; }
  .product .detail .owl-carousel-variant, #modal-order .detail .owl-carousel-variant {
    padding: 15px 0; }
    .product .detail .owl-carousel-variant .owl-stage-outer .owl-stage .owl-item, #modal-order .detail .owl-carousel-variant .owl-stage-outer .owl-stage .owl-item {
      padding-left: 0;
      padding-right: 0; }
  .product .detail .introduce, #modal-order .detail .introduce {
    padding: 0; }
  .product .detail .btn-order-product, #modal-order .detail .btn-order-product {
    padding: 20px 0; }
  .product .detail .hotline, #modal-order .detail .hotline {
    font-size: 12px;
    letter-spacing: 1px; }
    .product .detail .hotline > div p span.phone, #modal-order .detail .hotline > div p span.phone {
      font-size: 18px; } }
    @media (max-width: 767px) and (max-width: 360px) {
      .product .detail .hotline > div p span.phone, #modal-order .detail .hotline > div p span.phone {
        font-size: 16px; } }
  @media (max-width: 767px) and (max-width: 350px) {
    .product .detail .hotline, #modal-order .detail .hotline {
      font-size: 10px; } }

@media (max-width: 767px) {
  .product .product-bottom, #modal-order .product-bottom {
    margin: 0;
    padding-bottom: 0; }
    .product .product-bottom .description, #modal-order .product-bottom .description {
      margin-bottom: 0; }
      .product .product-bottom .description .nav-tabs, #modal-order .product-bottom .description .nav-tabs {
        margin: 0 -15px; }
        .product .product-bottom .description .nav-tabs li, #modal-order .product-bottom .description .nav-tabs li {
          margin-right: 0;
          margin-bottom: 0;
          padding: 0 15px; }
          .product .product-bottom .description .nav-tabs li a, #modal-order .product-bottom .description .nav-tabs li a {
            font-size: 13px;
            letter-spacing: 1px;
            padding-bottom: 3px;
            font-weight: 700; } }
          @media (max-width: 767px) and (max-width: 360px) {
            .product .product-bottom .description .nav-tabs li a, #modal-order .product-bottom .description .nav-tabs li a {
              font-size: 11px; } }

@media (max-width: 767px) {
      .product .product-bottom .description .title, #modal-order .product-bottom .description .title {
        font-size: 17px; } }

.related > .container {
  margin-bottom: 30px; }

.related .related-type {
  padding-bottom: 3px;
  border-bottom: 2px solid lightgray; }
  .related .related-type a {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    display: inline-block; }
    .related .related-type a .border {
      height: 3px;
      background-color: #000;
      width: 50%;
      position: relative;
      top: 5px; }

.related .list-product-related {
  padding-top: 30px; }

@media (max-width: 767px) {
  .related {
    padding: 0; }
    .related .related-type {
      text-align: center;
      padding: 0;
      border-bottom-width: 1px;
      margin: 0 -15px; }
      .related .related-type a {
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 2px;
        background: #fff;
        padding: 0 15px;
        top: 12px;
        position: relative; }
    .related .list-product-related {
      padding-top: 0; }
      .related .list-product-related.latest-news-product {
        margin-top: 40px; } }
      @media (max-width: 767px) and (min-width: 560px) {
        .related .list-product-related.latest-news-product > div {
          margin-top: 15px; } }

@media (max-width: 767px) {
        .related .list-product-related.latest-news-product .row {
          display: flex; }
        .related .list-product-related.latest-news-product a {
          line-height: 20px; }
          .related .list-product-related.latest-news-product a.cover {
            display: block;
            padding-left: 15px; }
        .related .list-product-related.latest-news-product .news-title {
          margin-top: 0;
          margin-bottom: 7px; }
          .related .list-product-related.latest-news-product .news-title a {
            color: #000;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 700;
            display: -webkit-box;
            letter-spacing: .5px;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 14px; }
        .related .list-product-related.latest-news-product .description {
          line-height: 14px;
          font-weight: 400;
          font-family: Roboto, sans-serif;
          font-size: 12px;
          text-align: left;
          color: #000;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          height: 85px;
          position: relative; }
          .related .list-product-related.latest-news-product .description div {
            max-height: 100%;
            overflow: hidden; }
        .related .list-product-related.latest-news-product .bottom-line {
          position: absolute;
          bottom: 10px; }
          .related .list-product-related.latest-news-product .bottom-line a {
            color: #999;
            font-size: 11px;
            font-weight: 400;
            font-style: italic;
            letter-spacing: .5px; } }

@media screen and (max-width: 767px) and (max-width: 767px) {
  .owl-carousel-product-mobile .owl-dots {
    text-align: center;
    margin-top: 10px; }
    .owl-carousel-product-mobile .owl-dots .owl-dot {
      display: inline-block; }
      .owl-carousel-product-mobile .owl-dots .owl-dot span {
        width: 10px;
        height: 10px;
        display: inline-block;
        background-color: #D6D6D6;
        margin: 0 3px;
        border-radius: 50%; }
      .owl-carousel-product-mobile .owl-dots .owl-dot.active span {
        background-color: #000; } }

#modal-order .item-variant {
  display: inline-block;
  float: left; }
  #modal-order .item-variant img {
    max-width: 60px; }

#modal-order .btn-detail {
  background-color: #000;
  color: #fff;
  display: block;
  padding: 8px 0;
  text-align: center;
  font-size: 17px;
  margin-top: 10px; }

#modal-order .in-stock-branch {
  margin-top: 20px !important; }
