footer
  .col-sm-12.hotline-n-subscribe
    .container
      .row
        form.col-sm-4.hidden-xs.subscribe
          .col-xs-12.receive-info
            | NHẬN THÔNG TIN KHUYẾN MÃI
          input.form-control.col-xs-7(placeholder="Nhập email" name="email_subscribe", required, type="email")
          button(type="submit").btn-subscribe Đăng ký
  .col-sm-12.copyright.clearfix.col-xs-12
    .container
      span Copyright @2017-2018 
      span.orange eyeteam.vn
      span All rights reserved.
  .clearfix
  !{livechat()}
